.secao-horizontal .cartao {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 3rem 0.9rem;
    column-gap: 1.25rem;
}

.secao-horizontal .cartao__imagem {
    grid-area: 1 / 1 / 4 / 2;
}

.secao-horizontal .cartao__botao {
    grid-area: 2 / 3 / 3 / 4;
}
.secao-horizontal .cartao__titulo {
    grid-area: 2 / 2 / 3 / 3;
    /* 
    O primeiro valor (2) é a linha de início da linha (row start).
    O segundo valor (2) é a linha de início da coluna (column start).
    O terceiro valor (3) é a linha de fim da linha (row end).
    O quarto valor (3) é a linha de fim da coluna (column end).
    */
}

.secao-horizontal .cartao__player {
    grid-area: 3 / 2 / 4 / 3;
}